@import "../../assets/style/scss/global/_global";
.EditTask {
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  &__TaskList {
    width: 560px;
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 40px 60px;
    border-radius: 24px;
    &__Title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      &__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        width: 24px;
        height: 24px;
        border: 0;
      }
      &__addTask {
        color: #0a1629;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 163.636% */
      }
    }
    &__Body {
      width: 440px;
      height: 77px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      &__writing {
        color: #7d8592;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      &__input {
        width: 440px;
        height: 48px;
        display: flex;
        padding: 12px 20px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid #d8e0f0;
      }
    }
    &__Priority {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      &__title {
        color: #7d8592;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      &__btn {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        &__High {
          width: 120px;
          height: 36px;
          flex-shrink: 0;
          border-radius: 10px;
          border: 1px solid #f73446;
          color: #f73446;
          background-color: #ffffff;
        }
        &__Medium {
          width: 120px;
          height: 36px;
          flex-shrink: 0;
          border-radius: 10px;
          border: 1px solid #ffbd21;
          color: #ffbd21;
          background-color: #ffffff;
        }
        &__Low {
          width: 120px;
          height: 36px;
          flex-shrink: 0;
          border-radius: 10px;
          border: 1px solid #0ac947;
          background: #fff;
          color: #0ac947;
        }
      }
    }
    &__button {
      display: flex;
      align-items: center;
      gap: 20px;
      &__Add {
        width: 114px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px solid #713fff;
        background: #713fff;
        color: #fff;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 100% */
      }
      &__Cancel {
        border-radius: 10px;
        border: 1px solid #d8e0f0;
        background-color: #ffffff;
        width: 118px;
        height: 40px;
        flex-shrink: 0;
        color: #7d8592;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 100% */
      }
    }
  }
}
